// Things that originate from Bootstrap that we overwrite
// Legacy legend behavior
legend {
  @extend legend;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

// Ensure btn-outline colors remain the same even if there is no href 
@each $color,
$value in $theme-colors {
  a.btn-outline-#{$color}:not([href]) {
    color: $value;
  }
  a.btn-outline-#{$color}:not([href]):hover {
    color: $white;
  }
}
